<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SortApp.BL.Properties.Settings.DbConnect" connectionString="Data Source=WS378;Initial Catalog=SortAppDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>